{% extends "base.html" %}

{% block content %}
<div class="{% if not result %}d-flex align-items-center justify-content-center min-vh-100{% endif %}">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="row g-4 gy-md-5 gx-md-3">
                <div class="text-center">
                    <h4 class="card-title">Customer Churn Prediction</h4>
                    <p class="text-muted mb-0">Enter customer informations to predict churn probability</p>
                </div>                

                <!-- Form Input -->
                <div class="{% if result %} col-md-5 {% else %} w-100 d-flex justify-content-center {% endif %}">
                    <div class="{% if result %} w-100 {% else %} w-50 {% endif %}">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h4 class="card-title fs-5 fw-semibold mb-4">
                                    <i class="bi bi-person"></i>
                                    Customer Information
                                </h4>
                                

                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <div class="mb-3">
                                        <label for="select_model" class="form-label">Select Model</label>
                                        <select class="form-select" name="select_model" id="select_model" required>
                                            <option disabled {% if not selected_model %}selected{% endif %}>-- Select Model --</option>
                                            <option value="naive_bayes" {% if selected_model == "Naive Bayes" %} selected {% endif %}>Naive Bayes</option>
                                            <option value="logistic_regression" {% if selected_model == "Logistic Regression" %}selected{% endif %}>Logistic Regression</option>
                                            <option value="linear_svm" {% if selected_model == "Linear SVM" %} selected {% endif %}>Linear SVM</option>
                                            <option value="decision_tree" {% if selected_model == "Decision Tree" %} selected {% endif %}>Decision Tree</option>
                                            <option value="random_forest" {% if selected_model == "Random Forest" %} selected {% endif %}>Random Forest</option>
                                            <option value="adaboost" {% if selected_model == "AdaBoost" %} selected {% endif %}>ADA Boost</option>
                                            <option value="xgboost" {% if selected_model == "XGBoost" %} selected {% endif %}>XGBoost</option>
                                            <option value="catboost" {% if selected_model == "CatBoost" %} selected {% endif %}>CatBoost</option>
                                        </select>
                                    </div>

                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label class="form-label">TV Subscriber</label>
                                            <select name="tv_subscriber" class="form-select">
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">Movie Package Subscriber</label>
                                            <select name="movie_subscriber" class="form-select">
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">Subscription Age</label>
                                            <div class="d-flex align-items-center gap-2">
                                                <input type="text" class="form-control" name="subscription_age">
                                                <span>months</span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">Bill Average </label>
                                            <div class="d-flex align-items-center gap-2">
                                                <span>Rp.</span>
                                                <input type="text" class="form-control" name="bill_avg">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">Remaining Contract</label>
                                            <div class="d-flex align-items-center gap-2">
                                                <input type="text" class="form-control" name="remaining_contract">
                                                <span>months</span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">Service Failure Count</label>
                                            <div class="d-flex align-items-center gap-2">
                                                <input type="text" class="form-control" name="service_failure_count">
                                                <span>times</span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">Download Average</label>
                                            <div class="d-flex align-items-center gap-2">
                                                <input type="text" class="form-control" name="download_avg">
                                                <span>GB</span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">Upload Average</label>
                                            <div class="d-flex align-items-center gap-2">
                                                <input type="text" class="form-control" name="upload_avg">
                                                <span>GB</span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">Download Over Limit</label>
                                            <div class="d-flex align-items-center gap-2">
                                                <input type="text" class="form-control" name="download_over_limit">
                                                <span>times</span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">Still on Contract</label>
                                            <select name="contract" class="form-select">
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="mt-4">
                                        <button type="submit" class="btn btn-primary w-100 fw-semibold">Predict Churn</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Prediction Result -->
                {% if result %}
                <div class="col-md-7">
                    <div class="card shadow-sm mb-3">
                        <div class="card-body">
                            <h5 class="card-title mb-4"><i class="bi bi-person me-2"></i>Customer Details</h5>
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-muted col fw-bold"><i class="bi bi-tv me-2"></i>TV Subscriber: <span class="fw-bold bg-dark rounded-pill px-2 text-white">{% if customer_data.is_tv_subscriber %}Yes{% else %}No{% endif %}</span></p>
                                    <p class="text-muted col fw-bold"><i class="bi bi-film me-2"></i>Movie Package Subscriber: <span class="fw-bold bg-dark rounded-pill px-2 text-white">{% if customer_data.is_movie_package_subscriber %}Yes{% else %}No{% endif %}</span></p>
                                    <p class="text-muted col fw-bold"><i class="bi bi-calendar me-2"></i>Subscription Age: <span class="fw-normal">{{ customer_data.subscription_age }} months</span></p>
                                    <p class="text-muted col fw-bold"><i class="bi bi-cash me-2"></i>Average Bill: <span class="fw-normal">Rp. {{ customer_data.bill_avg }}</span></p>
                                </div>
                                
                                <div class="col-6">
                                    <p class="text-muted col fw-bold"><i class="bi bi-clipboard me-2"></i>Remaining Contract: <span class="fw-normal">{{ customer_data.remaining_contract }} months</span></p>
                                    <!-- <p class="text-muted col fw-bold"><i class="bi bi-exclamation-triangle me-2"></i>Service Failure Count: <span class="fw-bold rounded-pill px-2 text-white {% if customer_data.service_failure_count > 2 %} bg-danger {% else %} bg-success {% endif %}">{{ customer_data.service_failure_count }} times</span></p> -->
                                    <p class="text-muted col fw-bold"><i class="bi bi-download me-2"></i>Download Average: <span class="fw-normal">{{ customer_data.download_avg }} GB</span></p>
                                    <p class="text-muted col fw-bold"><i class="bi bi-upload me-2"></i>Upload Average: <span class="fw-normal">{{ customer_data.upload_avg }} GB</span></p>
                                    <p class="text-muted col fw-bold"><i class="bi bi-arrow-up-right-circle me-2"></i>Download Over Limit: <span class="fw-bold rounded-pill px-2 text-white {% if customer_data.download_over_limit > 2 %} bg-danger {% else %} bg-success {% endif %}">{{ customer_data.download_over_limit }} times</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-sm">
                        <div class="card-body">

                            <h5 class="card-title mb-4"><i class="bi bi-graph-up-arrow me-2"></i>Prediction Result</h5>
                            
                            {% if predict == 'Churn' %}
                                <div class="text-center mb-3">
                                    <h2 class="text-danger fw-bold">{{ probability }}%</h2>
                                    <span class="badge bg-warning text-dark">
                                        <i class="bi bi-exclamation-triangle me-1"></i>{{ result }}
                                    </span>
                                </div>
                            {% else %}
                                <div class="text-center mb-3">
                                    <h2 class="text-success fw-bold">{{ probability }}%</h2>
                                    <span class="badge bg-success">
                                        <i class="bi bi-check-circle me-1"></i>{{ result }}
                                    </span>
                                </div>
                            {% endif %}

                            <div class="mb-3">
                                <h6>Summary</h6>
                                <p class="text-muted">
                                    Model Used: <strong>{{ selected_model }}</strong>
                                    <br />
                                    This customer has a <strong>{{ probability }}%</strong> probability of churning.
                                </p>
                            </div>

                            <div>
                                <h6>Recommended Actions</h6>
                                <ul class="">
                                    {% for action in actions %}
                                        <li>{{ action }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
